<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CrazyDrag.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>7B8706161C3E942F008F0861</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7B87062F1C3E9430008F0861</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7B87063A1C3E9430008F0861</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
